* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #ecf0f1;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

header {
  text-align: start;
  box-shadow: 0 0 8px 3px #ccc;
  background-color: white;
  margin-bottom: 12px;
}

h2 {
  margin: 0;
  padding: 12px 0 12px 12px
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

span {
  font-size: 12px
}

section > section,
section + section {
  margin: 0px 15px 20px 15px;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none
}

form {
  width: 100%;
  text-align: left;
}

label {
  color: #518fcf;
  font-weight: 600;
  display: block;
  margin-bottom: 10px;
}

.form-group {
  width: 100%;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
  color: #ff9632;
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  margin-bottom: 10px;
}

.form-group.has-error input,
.form-group.has-error select {
  border-bottom-color: #ff9632;
  background-color: rgba(255, 124, 0, .18);
} 

.form-group .btn {
  width: 100%;  
}

input,
select,
input:focus,
textarea {
  border: none;
  outline: none;
  padding: 0 10px;
  min-height: 30px;
  font-size: 1rem;
  border-radius: 4px;
  background-color: #eee;
  border-bottom: 1px solid #518fcf;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
}

.btn,
.btn:hover {
  height: 40px;
  color: white;
  cursor: pointer;
  border: 0;
  font-size: 1rem;
  font-weight: 600;
  background-color: #518fcf;
}
.btn:hover {
  background-color: #3c6690;
}

.card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 1px 6px -1px;
}

.card-header {
  text-align: start;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
}

.card-header .title span {
  font-size: 1.2rem;
}

.card-content {
  display: flex;
}

.loading-data{ 
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, .88);
  transition: all .5s ease;
}

.loading-data.active {
  visibility: visible;
  opacity: 1;
}

.loading-icon i {
  color: #2b84d2;
  font-size: 3em;
  animation: loading .9s infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  } 
}